#nav{

   background-color: transparent;
   height:100px;
   width:100%;
   font-family: "Megrim", serif;
   font-color: black;
   font-size:35px;
   font-weight:bold;
   font-style: capitalize;

}

.dropbtn {
    
    color: black;
    padding: 16px;
    font-weight: bold;
    font-size: 35px;
    border: none;
    cursor: pointer;
    font-family: "Megrim", serif;
}

#nav .dropdown {
    position: relative;
    display: inline-block;
}

#nav .dropdown-content{
  display:none;
  position:absolute;
   background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#nav .dropdown-content a:hover {background-color:aliceblue}

#nav .dropdown:hover .dropdown-content {
    display: block;
}

#nav .dropdown:hover .dropbtn {
    background-color: aliceblue;
}

.right{
  Float: left;
}

#nav ul{

   padding:0;
   margin:0;
   list-style:none;
   text-align:right;

}

#nav li{

   display:inline;
   padding:10px;
   vertical-align:middle ;

}

#nav a{

   text-decoration:none;
   padding:2px 2px 2px 2px;

}


footer {

   text-align: center;
   padding: 10px;
   font-size: 10px;
   margin-top: 10%;
   color: #FFF;
   background-color: rgba(75,75,75,0.8);

}
